# -*- coding: utf-8 -*-
# vim: ft=yaml
---
{% import_yaml 'cloudwatch/defaults.yaml' as defaults %}
{% import_yaml 'cloudwatch/osfamilymap.yaml' as osfamilymap %}
{% import_yaml 'cloudwatch/osmap.yaml' as osmap %}

{# merge the osfamilymap #}
{% set osfamilymap = salt['grains.filter_by'](osfamilymap, grain='os_family') or {'pkg_ext': 'deb'} %}
{% do salt['defaults.merge'](defaults['cloudwatch'], osfamilymap) %}

{# merge the osmap #}
{% set osmap = salt['grains.filter_by'](osmap, grain='kernel') or {} %}
{% do salt['defaults.merge'](defaults['cloudwatch'], osmap) %}

{% set cloudwatch_settings = salt['pillar.get']('cloudwatch', defaults['cloudwatch'], merge=True) %}

{% set base_url = cloudwatch_settings.base_url %}
{% set pkgname = cloudwatch_settings.package_name %}

{% if grains.os == 'Amazon' %}
    {% set os = 'amazon_linux' %}
{% else %}
    {% set os = grains.os|lower %}
{% endif %}

{% if grains.cpuarch|lower in ['amd64', 'x86_64'] %}
    {% set arch = 'amd64' %}
{% elif grains.cpuarch|lower in ['aarch64', 'arm64'] %}
    {% set arch = 'arm64' %}
{% endif %}

{# Construct our agent_url #}
{# ref: https://s3.amazonaws.com/amazoncloudwatch-agent/{{ os }}/{{ arch }}/latest/amazon-cloudwatch-agent.{{ pkg_ext }} #}
{% do cloudwatch_settings.update({'package_url': '{{ base_url }}/{{ os }}/{{ arch }}/latest/{{ pkgname }}.{{ pkg_ext }}'}) %}
